
body {
    font-family:'Montserrat';
    background-color: #63666A;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #041E42;
    max-width:1500px;
    height: 50px;
}

li {
    float: left;
    display: inline;
    vertical-align: middle;
}

li a, .dropbtn {
    display: inline-block;
    color: #D6D2C4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffff;
}

li.dropdown {
    display: inline-block;
    z-index: 99;
    padding-top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D6D2C4;
    min-width: 160px;   
    z-index: 99
}

.dropdown-content a {
    color: #000000;
    padding: 10px 10px;
    text-decoration: italic;
    display: block;
    text-align: left;
    z-index: 99;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: .6;
    z-index: 99;
}

td {
    padding: 5px;
    text-align: left;
    width: 500px;
    pointer-events: none;
}

tr{
    padding: 0px;
    text-align: top;
    background-color:#63666A;
    pointer-events: none;
}

img:hover {
  opacity: .6;
}